<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Vogella Issuereport</title>
	<link rel="stylesheet" href="./style.css" />
	<meta charset="UTF-8" />
</head>
<body>
	<div class="container issue_list">
		<h2>Issues</h2>
		<br />
		<table>
			<tr>
				<th>Url</th>
				<th class="desc">Description</th>
				<th>Done</th>
				<th>Created</th>
			</tr>
			<th:block th:each="issue : ${issues}">
				<tr>
					<td ><a th:href="@{${issue.url}}" th:text="${issue.url}"></a></td>
					<td th:text="${issue.description}">...</td>
					<td><span class="status" th:classappend="${issue.done} ? done : pending"></span></td>
					<td th:text="${issue.created}">...</td>					
				</tr>
			</th:block>
		</table>
	</div>
</body>
</html>