<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Vogella Issuereport</title>
	<link rel="stylesheet" href="./style.css" />
	<meta charset="UTF-8" />
</head>
<body>
	<div class="container">
		<<form method="post" th:action="@{/issuereport}" th:object="${issuereport}">>
			<h3>Vogella Issuereport</h3>
			<input type="text" placeholder="Email" id="email" th:field="*{email}"/>
			<input type="text" placeholder="Url where the issue was found on" id="url" th:field="*{url}"/>
			<textarea placeholder="Description of the issue" rows="5" id="description" th:field="*{description}"></textarea>
			
			<label for="private_id">
			   Private?
			   <input type="checkbox" name="private" id="private_id" th:field="*{markedAsPrivate}"/>
			</label>
			<label for="updates_id">
			    Keep me posted
			    <input type="checkbox" id="updates_id" name="updates" th:field="*{updates}"/>
			</label>
			
			<input type="submit" value="Submit"/> 
		</form>
	
		<div class="result_message" th:if="${submitted}">
			<h3>Your report has been submitted.</h3>
			<p>Find all issues <a href="/issues">here</a></p>
		</div>
	</div>
</body>
</html>